[submodule "CERES-gui_and_advanced_Navigation"]
	path = CERES-gui_and_advanced_Navigation
	url = git@github.com:RobiDeantonio/CERES-gui_and_advanced_Navigation.git
[submodule "Sciky-Learn"]
	path = Sciky-Learn
	url = git@github.com:RobiDeantonio/Sciky-Learn.git
