[submodule "CERES-gui_and_advanced_Navigation"]
	path = CERES-gui_and_advanced_Navigation
	url = git@github.com:RobiDeantonio/CERES-gui_and_advanced_Navigation.git
[submodule "CERES-CAD_Solidworks"]
	path = CERES-CAD_Solidworks
	url = git@github.com:RobiDeantonio/CERES-CAD_Solidworks.git
[submodule "CERES-ServoVisual_control"]
	path = CERES-ServoVisual_control
	url = git@github.com:RobiDeantonio/CERES-ServoVisual_control.git

